@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="mt-5">
        <h3>Are you in need of a joke?</h3>
        <h4>You have come to the right place!</h4>
        <p>Check out some jokes to make you laugh, or create a new one if you have a really good joke you want to share.</p>
    </div>
</div>
